
@import "color-variables.scss";
@mixin advantages-align{
	display: block;
	 margin:0 auto;
	 
}
.advantages{

    background-color: $bg-color;
	background-image: url(../images/AdvantagesBg.jpg);
	background-repeat:no-repeat;
	background-size: cover;
    min-height: 1388px;
    color:rgba(255,255,255,1);
    padding-top: 160px;
}
.advantages__block{
	@include advantages-align;
    width:289px;
	border: 4px solid $main-color;
    border-image-source: url(../images/AdvantagesBorder.png);
	border-image-repeat:round;
	border-image-slice:3;
	margin-bottom: 60px;
}
.advantages-header-wrapper{
	background-image:url(../images/AdvantagesFoto.png);
    background-repeat:no-repeat;
   width: 289px;
   height:277px;
   margin-bottom: 20px;
}
.advantages-header{
	font-family: 'core_sans_e95_regular', Arial, sans-serif;
  font-size:36px;
  text-transform: uppercase;
  font-weight: 800;
 
}
.advantages-header-plus{
	padding-top:70px;
  padding-left:30px;
  transform: scaleX(0.84);
}

.advantages-item{
	font-family: 'core_sans_e45_regular', Arial, sans-serif;
    font-size:16px;
    line-height: 1.5;
	list-style: none;
	padding:0 20px ;
	
}
.advantages-text{
	margin-bottom: 45px;
}
.advantages__plus .advantages-item:last-child{
	margin-bottom: 30px;
}
.advantages__minus-header,
.advantages__plus-header{
	text-transform: uppercase;
	font-family: 'core_sans_e65_regular', Arial, sans-serif;
  font-size:20px;
	&:before{
		font-family: 'Besom', Arial, sans-serif;
		font-size: 46px;
		color:rgba(83,88,94,1);
		padding-right:15px;
	}
	

}
.plus-header_1::before{
  content: "01";
}
.plus-header_2::before{
  content: "02";
}
.advantages__minus{
	@include advantages-align;
	width:320px;

}
.advantages-header-minus{
 position: relative;
 transform: scaleX(0.84);
 
 margin-bottom: 50px;
}
@mixin advantages-spot{
	content:"!";
	font-family: 'Besom', Arial, sans-serif;
	font-size: 75px;
	font-weight: 400;
    transform: scaleX(1.2);
	background-image: url(../images/AdvantagesSpot.png);
	background-repeat:no-repeat;
	 background-size: cover;
   position: absolute;
   text-align: center;

}
.advantages-header-minus::after{
	@include advantages-spot;

   width: 100px;
   height:100px;
   top:-20px;
  left: 220px;
  line-height: 1.8;
}
.advantages__minus-header{
	margin-bottom: 20px;
}




@media screen and (min-width: 750px) {
.advantages{
	background-image: url(../images/AdvantagesBgTab.jpg);
	min-height: 985px;	
}
.advantages__block{
	display: flex;
	min-width: 720px;
}
.advantages-header-wrapper{
	background-image:url(../images/AdvantagesFotoTab.png);
    background-repeat:no-repeat;
   width: 279px;
   height: 366px;
   flex-shrink: 0;
   margin-bottom: 0;
}
.advantages-header-plus{
	padding-top: 115px;
	padding-left: 15px;
	}
	.advantages__plus-header{
		margin-top: 20px;
	}
	.advantages-text{
	margin-bottom: 15px;
}
.advantages__minus{
	display: flex;
	min-width: 720px;
}

.advantages__minus-wrapper{
	width: 375px;
}
.advantages-header-minus{
	width: 360px;
	margin-left: 140px;
}
.advantages-header-minus::after{
	display: none;
}
.advantages-header-minus::before{
	@include advantages-spot;

   width: 140px;
   height:155px;
  line-height: 2;
  left: -190px;
  top: -30px;
}
}






@media screen and (min-width: 1170px) {
.advantages{
	background-image: url(../images/AdvantagesBgDesk.jpg);
	min-height: 929px;
}
.advantages-header-wrapper{
	background-image:url(../images/AdvantagesFotoDesk.png);
    background-repeat:no-repeat;
   width: 422px;
   height: 339px; 
}
.advantages__block{
	min-width: 1140px;
	margin-top: 80px;
	margin-bottom: 100px;
}
.advantages__plus-wrapper{
	display: flex;
	align-items: center;
}
.advantages__minus-header,
.advantages__plus-header{
     position: relative;
	&:before{
		font-size: 72px;
		position: absolute;
		bottom:15px;
	}
}
.advantages__minus{
	
	width: 1140px;
}
.advantages__minus-wrapper{
	display: flex;
	width: 750px;
}
}