@import "color-variables.scss";
@import "mixins.scss";

.map{
    text-align: center;
    overflow: hidden;
}
.map-foto{
    width: 100%;
    height: auto;
    display: block;
}
.map-wrapper{
    position: relative;
}
.map-header{
    @include header-main-color;

    &:after{

        content:"мы здесь были";
       @include header-background;
}
}
.map-city{
    list-style: none;
    position: absolute;
    
    
}
.city-first{
    left: 18.75%;
    top:38.8%;
    &:hover:before{
        @include animation-move;  
    }
    &:before{
        @include dot;   
         
    }
    
}
.city-second{
    left: 53.12%;
    top:31%;
    &:hover:before{
        @include animation-move;  
    }
    &:before{
        @include dot;      
    }
	
}
.city-third{
    left: 19.75%;
    top:68.8%;
    &:hover:before{
        @include animation-move;  
    }
    &:before{
        @include dot;      
    }

}
.city-fourth{
    left: 78.75%;
    top:67.8%;
    &:hover:before{
        @include animation-move;  
    }
    &:before{
        @include dot;      
    }
	
}

@media screen and (min-width: 545px) {
    .map-header{
        height: 70px;
        line-height: 70px;
        margin-top: 20px;
    }
}
@media screen and (min-width: 750px) {
    .map-header{
        margin-top: 30px;
        margin-bottom: 10px;
        
        @include header-main-color;
        font-size: 48px;
        &:after{
    
            content:"мы здесь были";
           @include header-background;
    }
    }

    .city-first{
        left: 18.75%;
        top:38.8%;
        &:before{
            @include dot;      
        }
        
    }
    .city-second{
        left: 53.12%;
        top:31%;
        &:before{
            @include dot;      
        }
        
    }
    .city-third{
        left: 19.75%;
        top:68.8%;
        &:before{
            @include dot;      
        }
    
    }
    .city-fourth{
        left: 78.75%;
        top:67.8%;
        &:before{
            @include dot;      
        }
        
    }
    .city-fifth{
        left: 23.75%;
        top:84.8%;
        &:hover:before{
            @include animation-move;  
        }
        &:before{
            @include dot;      
        }
        
    }
    .city-six{
        left: 78.75%;
        top:25.8%;
        &:hover:before{
            @include animation-move;  
        }
        &:before{
            @include dot;      
        }
        
    }
}

@media screen and (min-width: 1170px) {
    .map-header{
        margin-top: 50px;
    }
    .city-fifth{
        left: 23.75%;
        top:80.8%;
        &:before{
            @include dot;      
        }
        
    }
    .city-fourth{
        left: 48.75%;
        top:67.8%;
        &:before{
            @include dot;      
        }
        
    }
    .city-seven{
        left: 18.75%;
        top:77.8%;
        &:hover:before{
            @include animation-move;  
        }
        &:before{
            @include dot;      
        }
        
    }
}