
@mixin header-main-color{
	
	font-family: 'core_sans_e95_regular', Arial, sans-serif;
    font-size:36px;
    font-weight: 800;
    text-transform: uppercase;
    color: $main-color;
    transform: scaleX(0.84);
}
@mixin header-background{
 font-family: 'Besom', Arial, sans-serif;
     font-size: calc(5vw + 5vh + 2vmin);
     color:$bg-color;
     z-index: -1;
     position: absolute;
     white-space:nowrap;
     margin:0 ;
     transform: none;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     
}
 @mixin dot{
	    content:"";
    	display: block;
    	width:10px;
    	height: 10px;
    	border-radius:50%;
    	background-color: $main-color;
    	border-width:5px;
    	border-style:solid;
    	border-color: rgba(255, 229, 229, 1);
        position: absolute;
    
     
}
@mixin animation-move {
    animation-name: move;
    animation-duration: 1s; 
    animation-iteration-count:infinite;
    animation-timing-function: ease-out;
    animation-direction: alternate;
}
@mixin input-style{
    box-sizing: border-box;
  display: block;
  padding:20px 20px;
  margin-bottom: 30px;
  border-width: 0;
  border-radius: 30px;
  color: white;
  background: rgba(255,255,255,.1);
  font-family: 'core_sans_e45_regular', Arial, sans-serif;
  font-size: 16px;
  outline:none;

    &:hover, &:focus{
    background: rgba(255,255,255,.3);
}
}
@mixin input-focus{
    outline: none;
    &:hover, &:focus{
    background: rgba(255,255,255,.4);
    }
}