
.risk-button{
	box-sizing: border-box;
	background:none;
	background-image: url(../images/Button.png);
	background-repeat:no-repeat;
	background-size:auto;
	display: block;
	width:309px;
	height: 75px;
	border:none;
	font-family: 'core_sans_e95_regular', Arial, sans-serif;
  font-size:18px;
  color:rgba(255,255,255,1);
  text-transform: uppercase;
  font-weight: 800;
  padding-bottom:20px;
  &:hover, &:focus{
	background-image: url(../images/ButtonHover.png);
  }
  
}
@media screen and (min-width: 750px) {
	.risk-button{
		width:360px;
		&:hover, &:focus{
			background-image: url(../images/ButtonHoverDesk.png);
		  }	
		  &:active{
			  padding-bottom: 18px;
		  }
	}
}
